/* Main form section */
.header{
  
  margin: auto;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px; 
}

/* Todo App Header */
.header h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: var(--input-text);
}


/* Main form button container */
.formContainer{

  display: flex;
  gap: 16px;
  width: 100%;
  height: 38px;  
  align-items: center;
  
}

.search{
  position: relative;
  display: flex;
  flex: 1;

}

.search form{
  width: 100%;
}
  
  
.search form input:focus{
  background-color: var(--bg-color);
  border-color: var(--text-color);
}

/* Search input */
.search__input{

  box-sizing: border-box;
  padding: 8px 16px;  
  height: 38px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  width: 100%; 
  background-color: var(--bg-color);
  color: var(--input-text);
  border-color: var(--text-color);


}
  
.search__button{

  background-color: transparent;
  outline: none;
  margin-left: -50px ;
  margin-top: -2px;
  width: 21px;
  height: 21px;
  
}
  

.BtsContainer{

  display: flex;
  align-items: center;

}

/* Filter button  */
.select{
  
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 130px;
  height: 38px;
  border-radius: 5px;
  background: var(--border-color);
  color: var(--body-color);
  margin-right: 10px;

}

.select option{
  background-color: white;
  color: #6C63FF;
}


/* Toggle theme button */
.toggle{

  width: 38px;
  height: 38px;

}

/* Set up for small devices */
  @media (max-width: 600px) {

    .formContainer{
      flex-direction: column;
      align-items:center;
      gap: 10px;
      height: auto;
    }

    .BtsContainer, .search, .toggle{
      width: 90%;
    }

    .search__input, .select{
      width: 90%;
      margin: 0;
    }


    .toggle{
      width: 5%;
      margin: 10px;
    }

  }