.head{
  
  margin: auto;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px; 
}
  
.head h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: var(--text-color);
}


.header{

  display: flex;
  gap: 16px;
  width: 100%;
  height: 38px;  
  align-items: center;
  
}

.form-Wrapper{
  position: relative;
  display: flex;
  flex: 1;

}

.form-Wrapper form{
  width: 100%;
}
  
  
.form-Wrapper form input:focus{
  background-color: var(--bg-color);
}


.search{

  box-sizing: border-box;
  padding: 8px 16px;  
  height: 38px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  width: 100%; 
  background-color: var(--bg-color);
  color: var(--input-text);
  border-color: var(--text-color);


}
  
.search-button{

  background-color: transparent;
  outline: none;
  margin-left: -50px ;
  margin-top: -2px;
  width: 21px;
  height: 21px;
  /* background-image: var(--input-image) */
  
}
  

.select-wrapper{

  display: flex;
  align-items: center;

}
  
  
    
  
    
  .select{
    
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 130px;
    height: 38px;
    border-radius: 5px;
    background: var(--border-color);
    color: var(--body-color);
    margin-right: 10px;
  
  }

  .select option{
    background-color: white;
    color: #6C63FF;
  }

  .toggle{

    width: 38px;
    height: 38px;
    /* background-image: url('../images/toogle.png'); */
  
  }


  @media (max-width: 600px) {

    .header{
      flex-direction: column;
      align-items:center;
      gap: 10px;
      height: auto;
    }

    .select-wrapper, .form-Wrapper, .toggle{
      width: 90%;
    }

    .search, .select{
      width: 90%;
      margin: 0;
    }


    .toggle{
      width: 5%;
      margin: 10px;
    }

  }