
#root {
  
  width: 750px;
  margin: 0 auto auto auto;
  background-color: var(--bg-color);
  
}

.main-container {

  width: 750px;
  margin:  0px auto auto auto;

 }

.list-container{

  display: flex;
  
}


.add-button-wrapper{

  margin: auto;
  display: flex;
  justify-content:flex-end;

}


.add-button{

  position:absolute;
  background-image: url('./images/add.png');
  background-size:cover;
  width: 50px;
  height: 50px;
  top: 700px;
  background-color: Transparent;
  }

@media (max-width: 600px) {

 
    .add-button {
      position: absolute;
      width: 60px;
      height: 60px;
      right:auto;
      top:auto;
      margin: 30px;
    }

}


  


