#root {

  width: 750px;
  margin:  0px auto auto auto;
background-color: #252525;
;
  
  }
  
.head{
  
  margin: auto;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px;
   
  
  }

  .head h1{
    /* width: 122px; */
/* height: 39px; */

font-size: 26px;
font-weight: 500;
line-height: 38.87px;
text-align: left;



  }
  
.header{
  
  display: flex;
  gap: 16px;
  width: 100%;
  height: 38px;  
  align-items: center;
  
  }

  .select-wrapper{
    display: flex;
    align-items: center;
  }

  .form-Wrapper{
    position: relative;
    display: flex;
    flex: 1;


  }

  .form-Wrapper form{
   width: 100%;
  }
  
.search{

  box-sizing: border-box;
  padding: 8px 16px;  
  height: 38px;
  border: 1px solid #F7F7F7;
  border-radius: 5px;
  width: 100%; 
}

.search-button{

  background-color: transparent;
  outline: none;
  margin-left: -50px ;
  margin-top: -2px;
  width: 21px;
  height: 21px;
  
}

  
.select{
  
flex-direction: column;
align-items: flex-start;
padding: 10px;
width: 130px;
height: 38px;
border-radius: 5px;
background: #6C63FF;
margin-right: 10px;

}
  
.toggle{

width: 38px;
height: 38px;
background-image: url('./images/toogle.png');

}


.body{
  margin: auto;
  display: flex;
  justify-content: center;


}

.emptyListImage{
  width: 221px;
  height: 174px;
  left: 149px;
  gap: 0px;
  opacity: 0px;
  margin: 30px auto;  
  display: flex;
  

}
  
.list{

width: 100%;
/* height: 545px;
left: 115px;
top: 30px; */

}

.listElement{
  width: 35px;
}

.list li{

  /* width: 520px; */
display: flex;
justify-content: space-between;
margin-top: 15px;
width: 600px;
border: 1px;
list-style: none;
border-bottom: 1px solid #6C63FF

}

.list li input[type="checkbox"]{
  display: inline-block;
  width: 26px;
  height: 26px;
  top:120px;
  border-radius: 2px;
  color: #6C63FF; 
  outline: 1px solid #6C63FF;

}

.list li input[type="checkbox"]:checked{
  
  accent-color: #6C63FF;

}

.list li .textWrapper{
  display: flex;
    align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  padding: 0px 0px 8px 8px;



}

.list li .deleteButton{
  display: inline-block;
  position: relative;
  background-size:cover;
  background-color: transparent;
  background-image: url('./images/delete1.svg');
  width: 18px;
  height: 18px;
  padding: 0px 8px 0px 8px;
}


.newNote{
 
  /* width: 520px; */
  display: flex;
  justify-content: center;
  font-family: Kanit;
  font-size: 24px;
  line-height: 24px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}

.modalContainer{
  width: 500px;
  height: 289px;
  border: 1px solid white;
  background:#252525;
  
}
  

.modalForm{
 
  display: flex;
  justify-content: center;

}

.addNote{
  width: 420px;
  height: 30px;
  left: 480px; 
  padding: 10px 16px 8px 16px;
  margin-top: 10px;
  opacity: 0px;
  border: 1px solid #F7F7F7
}

.cancelButton{
  width: 110px;
  height: 38px;
  padding: 10px 22px 10px 22px;
  opacity: 0px;
  border: 1px solid #6C63FF


}

.submitButton{
  width: 97px;
  height: 38px;
  top: 351px;
  left: 823px;
  padding: 10px 22px 10px 22px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background: #6C63FF;
  
}

  .newNoteBtns{
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex; 
    justify-content: space-between;
    
  }


  .addButtonWrapper{
    margin: auto;
    display: flex;
    justify-content:flex-end;
  }


.addButton{

  position:fixed;
  background-image: url('./images/add.png');
  background-size:cover;
  width: 50px;
  height: 50px;

top: 700px;

gap: 0px;
opacity: 0px;

  /* left: 100%; */
  background-color: Transparent;
  }
  