#root {

  width: 1400px;
  height: 710px;
  
  }
  
.head{
  
  margin: auto;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px;
  position: relative;
  width: 750px;
  height: 135px;
  left: 325px;
  top: -20%; 
   
  
  }
  
.header{
  
  display: flex;
  gap: 16px;
  width: 750px;
  height: 38px;  

  }
  
.search{

  box-sizing: border-box;
  padding: 8px 16px;  
  width: 595px;
  height: 38px;
  border: 1px solid #F7F7F7;
  border-radius: 5px;
}

.search-button{

  background-color: transparent;
  outline: none;
  position: absolute;
  right: 165px;
  top: 149px;
  width: 21px;
  height: 21px;
  
}

  
.select{
  
flex-direction: column;
align-items: flex-start;
padding: 10px;
width: 130px;
height: 38px;
border-radius: 5px;
background: #6C63FF;

}
  
.toggle{

width: 38px;
height: 38px;
background-image: url('./images/toogle.png');

}


.body{
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  top: -10%;
  left: 325px;

}
  
.list{

width: 520px;
height: 545px;
left: 115px;
top: 30px;

}

.list li{

margin-top: 15px;
width: 520px;
border: 1px;
list-style: none;
border-bottom: 1px solid #6C63FF

}

.list li input[type="checkbox"]{
  
  width: 26px;
  height: 26px;
  top:120px;
  border-radius: 2px;
  color: #6C63FF; 
  outline: 1px solid #6C63FF;

}

.list li input[type="checkbox"]:checked{
  
  accent-color: #6C63FF;

}

.list-item{
  width: 500px;
  height: 200px;
  top: 200px;
  left: 43px;
  gap: 0px;
  opacity: 0px;
  font-family: Kanit;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  background: #F7F7F7;



}

.list li .deleteButton{
  position: relative;
  background-size:cover;
  background-color: transparent;
  background-image: url('./images/delete1.svg');
  width: 18px;
  height: 18px;
  top: 4px;
  left:400px;
  padding: 0px 8px 0px 8px;
}


.addButton{

position:relative;
background-image: url('./images/add.png');
background-size:cover;
width: 50px;
height: 50px;
left: 100%;
background-color: Transparent;
 
}



.newNote{
  display: block;
  display: flex;
  justify-content: center;
  font-family: Kanit;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  width: 440px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}

.modalContainer{
  width: 500px;
  height: 289px;
  top: 118px;
  left: 450px;
  border: 1px solid white;
  background:#252525;
  
}
  

.modalForm{
  /* Header */

/* Auto layout */
display: flex;
position: relative;
  display: flex;
  justify-content: center;
flex-direction: row;
align-items: flex-start;
padding: 0px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
border-radius: 30px;

}

.addNote{
  width: 420px;
  height: 30px;
  top: 185px;
  left: 480px;
  padding: 10px 16px 8px 16px;
  margin-top: 10px;
  gap: 436px;
  border-radius: 5px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #F7F7F7
}

.cancelButton{
  width: 110px;
  height: 38px;
  top: 351px;
  left: 480px;
  bottom: 0;
  padding: 10px 22px 10px 22px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  
  
}

.submitButton{
  width: 97px;
  height: 38px;
  top: 351px;
  left: 823px;
  padding: 10px 22px 10px 22px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background: #6C63FF;
  
}

  .newNoteBtns{
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex; 
    justify-content: space-between;
    
  }